<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Subject</title>
    <link rel="stylesheet" href="/css/createSubject.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>

<body>

    <div class="log">

        <form action="/subjects/{{ subject._id }}?_method=PUT" method="post">
        <center>
            <h1>Edit {{ subject.name }}</h1>
        </center>
        <br>
        
        <label id="em">Name</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
        <input id='in' class='form-control' name="name" value="{{ subject.name }}" />
        <label id="em">Code</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        <input id='in' class='form-control' name="code" value="{{ subject.code }}"/>

    <br>
    <div>
        <label for="">Department</label>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <select name='department' id='' class='select' >
            
            <option style="display: none;"></option>
            {{#each departments}}
            
            <option  value="{{ _id }}" >{{ name }}</option>

            {{/each}}
            
            {{!-- <option value="1">CS</option>
            <option value="2">IT</option>
            <option value="3">IS</option> --}}
        </select>

    </div>

    <br><br><br><br>

            <center>
                <input class="su" type="submit" value="Save">
            </center>





</form>
    </div>

</body>
</html>